.proxy {
width: 125px;
height: 125px;
border-radius: 25px;
margin: 16px;
transition: all .5s ease-in-out;
}
.proxyimg {
width: 127px;
height: 127px;
border-radius: 25px;
margin: -16px;
transition: all .5s ease-in-out;
}
.proxyimg:hover {
transform: scale(1.15);
box-shadow: 0px 3px 5px null;
}
.proxy:hover {
transform: scale(1.15);
}
html {
  background-color: black
}
@keyframes rainbow{
  0%{color:red}
  14.2857143%{color: orange}
  28.5714286%{color: yellow}
  42.8571429%{color: green}
  57.1428572%{color: blue}
  71.4285715%{color: indigo}
  85.7142855%{color: violet}
  100%{color:red}
  
}
h1 {
  color: red;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  animation: rainbow 2.5s infinite;
}
div {
margin-left: 34.5px;
}
